@media screen and (min-width: 992px) {


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #131313;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



nav ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
  font-weight: 900;
}

nav ul li a:hover {
  color: #8396ff;
}

.logo img {
  height: 40px;
  margin-left: 15px;
}

.logo span {
  font-size: 20px;
}

main {
  padding: 20px;
  text-align: center;
  background-color: #EBEBEB;
}

footer {
  background-color: #131313;
  color: #fff;
  padding: 30px;
  text-align: left;
  margin-top: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {    
  font-size: 65px;
  color: #100F28;
  margin:auto
}

h3 {
  color: white;
  font-size: 1rem;
}

.slogan {
  color: #fff;
  font-size: 20px;
  background-color: rgba(225, 225, 225, 80%);
  line-height: 1em;
  border-radius: 30px;
  padding: 10px;
  padding-bottom: 10px;
  width: 45%;
  margin: auto;
}

p {
  color: #8F94C1;
  font-size: 22px;
}

p1 {
  color: #181937;
  font-size: 23px;
  line-height: 22px
}

p2 {
  color: #fff;
  font-size: 18px;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
button{
  background-color: #014787;
  color: #fff;
  font-size: 30px;
  border-radius: 25px;
  font-weight: 700;
  padding: 15px;
  width: 210px;
  border: 0;
  
}

button:hover{
  background-color: #014787;
  opacity: 80%;
}

button .buttontext{
  text-decoration: none;
  color: #fff;
  
}
button .buttontext:hover{
  color: #ffffff;
}

.package {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 0.5rem;
  
}


.packageitem{
  color: #fff;
  border-radius: 53px;
  background-color:#272727;
  height: 800px;
  
}

.packageitem button{
  width: 180px;
  font-size: 20px;
  border-radius: 10px;
  display: inline-block;
  
}

.packageitem img{
  width: 100%;
  height: auto;
  border-radius: 50px;
}

p3{
font-size: 16px;
line-height: 20px;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
display: inline-block;

}

.tourtitles{  
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  width: 200px;
  height: auto;
  text-align: center;
  display: inline-block;
}

}

/* tablet size */


@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }


  header {
      background-color: #131313;
      color: #fff;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    
    
    nav ul {
      list-style-type: none;
      display: flex;
      padding: 10px;
    }
    
    nav ul li {
      margin-left: 20px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      padding: 8px;
      font-weight: 900;
    }
    
    nav ul li a:hover {
      color: #8396ff;
    }
    
    .logo img {
      height: 40px;
      margin-left: 15px;
    }
    
    .logo span {
      font-size: 20px;
    }
    
    main {
      padding: 20px;
      text-align: center;
      background-color: #EBEBEB;
    }
    
    footer {
      background-color: #131313;
      color: #fff;
      padding: 30px;
      text-align: left;
      margin-top: auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    h2 {    
      font-size: 65px;
      color: #100F28;
      margin:auto
    }
    
    h3 {
      color: white;
      font-size: 1rem;
    }
    
    .slogan {
      color: #fff;
      font-size: 20px;
      background-color: rgba(225, 225, 225, 80%);
      line-height: 1em;
      border-radius: 30px;
      padding: 10px;
      padding-bottom: 10px;
      width: 45%;
      margin: auto;
    }
    
    p {
      color: #8F94C1;
      font-size: 22px;
    }
    
    p1 {
      color: #181937;
      font-size: 23px;
      line-height: 22px
    }
    
    p2 {
      color: #fff;
      font-size: 18px;
    }
    
    .fa {
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      padding: 15px;
      font-size: 30px;
      width: 25px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    
    .fa:hover {
      opacity: 0.7;
    }
    
    /* Facebook */
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    /* Twitter */
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    /* Instagram */
    .fa-instagram {
      background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      color: white;
    }
    button{
      background-color: #014787;
      color: #fff;
      font-size: 30px;
      border-radius: 25px;
      font-weight: 700;
      padding: 15px;
      width: 210px;
      border: 0;
      
    }
    
    button:hover{
      background-color: #014787;
      opacity: 80%;
    }
    
    button .buttontext{
      text-decoration: none;
      color: #fff;
      
    }
    button .buttontext:hover{
      color: #ffffff;
    }
    
    .package {
      display: grid;
      grid-template-columns: 1fr ;
      gap: 0.5rem;
      
    }
    
    
    .packageitem{
      color: #fff;
      border-radius: 53px;
      background-color:#272727;
      height: 800px;
      
    }
    
    .packageitem button{
      width: 180px;
      font-size: 20px;
      border-radius: 10px;
      display: inline-block;
      
    }
    
    .packageitem img{
      width: 100%;
      height: auto;
      border-radius: 50px;
    }
    
    p3{
    font-size: 16px;
    line-height: 20px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    display: inline-block;
    
    }
    
    .tourtitles{  
      background-color: transparent;
      color: #fff;
      border-radius: 10px;
      width: 200px;
      height: auto;
      text-align: center;
      display: inline-block;
    }
  
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }


  header {
      background-color: #131313;
      color: #fff;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    
    
    
    nav ul {
      list-style-type: none;
      display: flex;
      padding: 10px;
    }
    
    nav ul li {
      margin-left: 20px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      padding: 8px;
      font-weight: 900;
    }
    
    nav ul li a:hover {
      color: #8396ff;
    }
    
    .logo img {
      height: 40px;
      margin: auto;
    }
    
    .logo span {
      font-size: 20px;
    }
    
    main {
      padding: 20px;
      text-align: center;
      background-color: #EBEBEB;
    }
    
    footer {
      background-color: #131313;
      color: #fff;
      padding: 30px;
      text-align: left;
      margin-top: auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    h2 {    
      font-size: 65px;
      color: #100F28;
      margin:auto
    }
    
    h3 {
      color: white;
      font-size: 1rem;
    }
    
    .slogan {
      color: #fff;
      font-size: 20px;
      background-color: rgba(225, 225, 225, 80%);
      line-height: 1em;
      border-radius: 30px;
      padding: 10px;
      padding-bottom: 10px;
      width: 45%;
      margin: auto;
    }
    
    p {
      color: #8F94C1;
      font-size: 22px;
    }
    
    p1 {
      color: #181937;
      font-size: 23px;
      line-height: 22px
    }
    
    p2 {
      color: #fff;
      font-size: 18px;
    }
    
    .fa {
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      padding: 15px;
      font-size: 30px;
      width: 25px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    
    .fa:hover {
      opacity: 0.7;
    }
    
    /* Facebook */
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    /* Twitter */
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    /* Instagram */
    .fa-instagram {
      background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      color: white;
    }
    button{
      background-color: #014787;
      color: #fff;
      font-size: 30px;
      border-radius: 25px;
      font-weight: 700;
      padding: 15px;
      width: 210px;
      border: 0;
      
    }
    
    button:hover{
      background-color: #014787;
      opacity: 80%;
    }
    
    button .buttontext{
      text-decoration: none;
      color: #fff;
      
    }
    button .buttontext:hover{
      color: #ffffff;
    }
    
    .package {
      display: grid;
      grid-template-columns: 1fr ;
      gap: 0.5rem;
      
    }
    
    
    .packageitem{
      color: #fff;
      border-radius: 53px;
      background-color:#272727;
      height: 800px;
      
    }
    
    .packageitem button{
      width: 180px;
      font-size: 20px;
      border-radius: 10px;
      display: inline-block;
      
    }
    
    .packageitem img{
      width: 100%;
      height: auto;
      border-radius: 50px;
    }
    
    p3{
    font-size: 16px;
    line-height: 20px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    display: inline-block;
    
    }
    
    .tourtitles{  
      background-color: transparent;
      color: #fff;
      border-radius: 10px;
      width: 200px;
      height: auto;
      text-align: center;
      display: inline-block;
    }
  
}