@media screen and (min-width: 992px) {

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #131313;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
  font-weight: 900;
}

nav ul li a:hover {
  color: #8396ff;
}

.logo img {
  height: 40px;
  margin-left: 15px;
}

.logo span {
  font-size: 20px;
}

main {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}

footer {
  background-color: #131313;
  color: #fff;
  padding: 30px;
  text-align: left;
  margin-top: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 8em;
  color: white;
}

h2 {    
  font-size: 65px;
  color: #100F28;
  margin:auto
}

h3 {
  color: white;
  font-size: 1rem;
}

.slogan {
  color: #fff;
  font-size: 20px;
  background-color: rgba(225, 225, 225, 80%);
  line-height: 1em;
  border-radius: 30px;
  padding: 10px;
  padding-bottom: 10px;
  width: 45%;
  margin: auto;
}

p {
  color: #8F94C1;
  font-size: 22px;
}

p1 {
  color: #181937;
  font-size: 23px;
  line-height: 22px
}

p2 {
  color: #fff;
  font-size: 18px;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
button{
  background-color: #014787;
  color: #fff;
  font-size: 30px;
  border-radius: 25px;
  font-weight: 700;
  padding: 15px;
  width: 210px;
  border: 0;
  
}

button:hover{
  background-color: #014787;
  opacity: 80%;
}

button .buttontext{
  text-decoration: none;
  color: #fff;
  
}
button .buttontext:hover{
  color: #ffffff;
}

.package {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 0.5rem;
}


.packageitem{
  color: #fff;
  border-radius: 53px;
  background-color:#272727;
  height: 800px;
}

.packageitem button{
  width: 180px;
  font-size: 20px;
  border-radius: 10px;
  display: inline-block;
}

.packageitem img{
  width: 100%;
  height: auto;
  border-radius: 50px;
}

p3{
font-size: 16px;
line-height: 20px;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
display: inline-block;
}

.tourtitles{  
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  width: 200px;
  height: auto;
  text-align: center;
  display: inline-block;
}

form {
  width:500px;
  height:auto;
  background:#272727;
  border-radius:20px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative
}
form p5 {
  color: white;
  font-size: 2rem;
  width:250px;
  font-weight: 700;
  
}
form p1 {
color: #8F94C1;
font-size: 20px;
} 

form input{ 
  width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2
}

input:focus{
  border-bottom:2px solid #78788c
}

p:before{
  content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a
}

form button{
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
}

form button:hover{
  background:#78788c;color:#fff
}
form div{
  content:'Hi';
  position:absolute;
  bottom:-50px;
  background:#50505a;
  color:#fff;
  width:330px;
  border-radius:6px;
  font-size:11px;
  box-shadow:10px 10px 40px -14px #000
}

form span{
  color: white;
  padding: -5px;

}

p4{
  color: white;
  font-size: 0.8rem;
  text-align: center;
}
}

/* Tablet sizes */


@media screen and (max-width: 992px) {

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  header {
      background-color: #131313;
      color: #fff;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    
    
    nav ul {
      list-style-type: none;
      display: flex;
      padding: 10px;
    }
    
    nav ul li {
      margin-left: 20px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      padding: 8px;
      font-weight: 900;
    }
    
    nav ul li a:hover {
      color: #8396ff;
    }
    
    .logo img {
      height: 40px;
      margin-left: 15px;
    }
    
    .logo span {
      font-size: 20px;
    }
    
    main {
      padding: 20px;
      text-align: center;
    }
    
    footer {
      background-color: #131313;
      color: #fff;
      padding: 30px;
      text-align: left;
      margin-top: auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    h1 {
      font-size: 2em;
      color: white;
    }

    h2 {    
      font-size: 65px;
      color: #100F28;
      margin:auto
    }
    
    h3 {
      color: white;
      font-size: 1rem;
    }
    
    .slogan {
      color: #fff;
      font-size: 20px;
      background-color: rgba(225, 225, 225, 80%);
      line-height: 1em;
      border-radius: 30px;
      padding: 10px;
      padding-bottom: 10px;
      width: 45%;
      margin: auto;
    }
    
    p {
      color: #8F94C1;
      font-size: 22px;
    }
    
    p1 {
      color: #181937;
      font-size: 1em;
      line-height: 22px
    }
    
    p2 {
      color: #fff;
      font-size: 18px;
    }
    
    .fa {
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      padding: 15px;
      font-size: 30px;
      width: 25px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    
    .fa:hover {
      opacity: 0.7;
    }
    
    /* Facebook */
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    /* Twitter */
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    /* Instagram */
    .fa-instagram {
      background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      color: white;
    }
    button{
      background-color: #014787;
      color: #fff;
      font-size: 1em;
      border-radius: 25px;
      font-weight: 700;
      padding: 15px;
      width: 160px;
      border: 0;
    }
    
    button:hover{
      background-color: #014787;
      opacity: 80%;
    }
    
    button .buttontext{
      text-decoration: none;
      color: #fff;
      
    }
    button .buttontext:hover{
      color: #ffffff;
    }
    
    .package {
      display: grid;
      grid-template-columns: 1fr ;
      gap: 0.5rem;
      
    }
    
    .packageitem{
      color: #fff;
      border-radius: 53px;
      background-color:#272727;
      height: 800px;
    }
    
    .packageitem button{
      width: 180px;
      font-size: 20px;
      border-radius: 10px;
      display: inline-block;  
    }
    
    .packageitem img{
      width: 100%;
      height: auto;
      border-radius: 50px;
    }
    
    p3{
    font-size: 16px;
    line-height: 20px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    display: inline-block;
    }
    
    .tourtitles{  
      background-color: transparent;
      color: #fff;
      border-radius: 10px;
      width: 200px;
      height: auto;
      text-align: center;
      display: inline-block;
    }
  
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  header {
      background-color: #131313;
      color: #fff;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    
    
    
    nav ul {
      list-style-type: none;
      display: flex;
      padding: 10px;
    }
    
    nav ul li {
      margin-left: 20px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      padding: 8px;
      font-weight: 900;
    }
    
    nav ul li a:hover {
      color: #8396ff;
    }
    
    .logo img {
      height: 40px;
      margin: auto;
    }
    
    .logo span {
      font-size: 20px;
    }
    
    main {
      padding: 20px;
      text-align: center;
    }
    
    footer {
      background-color: #131313;
      color: #fff;
      padding: 30px;
      text-align: left;
      margin-top: auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    h1 {
      font-size: 2em;
      color: white;
    }

    h2 {    
      font-size: 65px;
      color: #100F28;
      margin:auto
    }
    
    h3 {
      color: white;
      font-size: 1rem;
    }
    
    .slogan {
      color: #fff;
      font-size: 20px;
      background-color: rgba(225, 225, 225, 80%);
      line-height: 1em;
      border-radius: 30px;
      padding: 10px;
      padding-bottom: 10px;
      width: 45%;
      margin: auto;
    }
    
    p {
      color: #8F94C1;
      font-size: 22px;
    }
    
    p1 {
      color: #181937;
      font-size: 1em;
      line-height: 22px
    }
    
    p2 {
      color: #fff;
      font-size: 18px;
    }
    
    .fa {
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      padding: 15px;
      font-size: 30px;
      width: 25px;
      text-align: center;
      border-radius: 50%;
    }
    
    .fa:hover {
      opacity: 0.7;
    }
    
    /* Facebook */
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    /* Twitter */
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    /* Instagram */
    .fa-instagram {
      background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      color: white;
    }
    button{
      background-color: #014787;
      color: #fff;
      font-size: 1em;
      border-radius: 25px;
      font-weight: 700;
      padding: 15px;
      width: 150px;
      border: 0;
      
    }
    
    button:hover{
      background-color: #014787;
      opacity: 80%;
    }
    
    button .buttontext{
      text-decoration: none;
      color: #fff;
      
    }
    button .buttontext:hover{
      color: #ffffff;
    }
    
    .package {
      display: grid;
      grid-template-columns: 1fr ;
      gap: 0.5rem;
    }
      
    .packageitem{
      color: #fff;
      border-radius: 53px;
      background-color:#272727;
      height: 800px;
    }
    
    .packageitem button{
      width: 180px;
      font-size: 20px;
      border-radius: 10px;
      display: inline-block;
    }
    
    .packageitem img{
      width: 100%;
      height: auto;
      border-radius: 50px;
    }
    
    p3 {
    font-size: 16px;
    line-height: 20px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    display: inline-block;
    }
    
    .tourtitles{  
      background-color: transparent;
      color: #fff;
      border-radius: 10px;
      width: 200px;
      height: auto;
      text-align: center;
      display: inline-block;
    }
}

@media screen and (max-height: 1200px) {
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}