/* CSS reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #131313;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Adjust the alignment of the elements */
  align-items: center; /* Vertically align logo and navigation */
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 10px;
}

nav ul li {
  margin-left: 20px; /* Adjust spacing between the navigation links */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
  font-weight: 900;
}

nav ul li a:hover {
  color: #8396ff;
}

.logo img {
  height: 40px; /* Adjust the height of the logo as needed */
  margin-left: 15px;
}

.logo span {
  font-size: 20px; /* Adjust the font size as needed */
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #131313;
  color: #fff;
  padding: 30px;
  text-align: left;
  margin-top: auto;
  position: relative; /* Add position relative */
  display: flex; /* Add display flex */
  justify-content: space-between; /* Align items to the edges */
  align-items: center; /* Vertically center the content */
}

h1 {
  font-size: 120px;
  color: #fff;
}

h2 {    
  font-size: 65px;
  color: #181937;
  margin:auto
}

.slogan {
  color: #fff;
  font-size: 20px;
  background-color: rgba(225, 225, 225, 80%);
  line-height: 1em;
  border-radius: 30px;
  padding: 10px;
  padding-bottom: 10px;
  width: 45%;
  margin: auto;
}

p {
  color: #8F94C1;
  font-size: 22px;
}

p1 {
  color: #181937;
  font-size: 23px;
}

p2 {
  color: #fff;
  font-size: 18px;
}

.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
button{
  background-color: #014787;
  color: black;
  font-size: 30px;
  border-radius: 25px;
  font-weight: 700;
  padding: 15px;
  width: 250px;
  border: 0;
  opacity: 80%;
}

button:hover{
  background-color: #014787;
  opacity: 100%;
}

button .buttontext{
  text-decoration: none;
  color: #fff;
  
}
button .buttontext:hover{
  color: #ffffff;
}