/* CSS reset */
body, h1, h2, h3, p, ul, li, form, label, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #111111;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Adjust the alignment of the elements */
  align-items: center; /* Vertically align logo and navigation */
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 20px; /* Adjust spacing between the navigation links */
}

nav ul li:first-child {
  margin-left: 0; /* Remove left margin from the first navigation link */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logo img {
  height: 40px; /* Adjust the height of the logo as needed */
  margin-right: 5px; /* Add some spacing between the logo and text */
}

.logo span {
  font-size: 20px; /* Adjust the font size as needed */
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #111111;
  color: #fff;
  padding: 10px;
  text-align: center;
}
